---
layout: base
---

{{ content }}
<!-- Comments -->
<noscript>Please enable JavaScript to view the discussion thread.</noscript>
<section class="cell big page-comments">
  <section class="social">
   <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="paulmillr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   <iframe src="http://www.facebook.com/plugins/like.php?app_id=217297408305487&amp;href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
   <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
   <g:plusone></g:plusone>
  </section>
  <div id="disqus_thread"></div>
</section>
<script type="text/javascript">
  var loc = document.location;
  var disqus_url = loc.protocol + '//' + loc.host + loc.pathname;
  var disqus_title = '{{ page.title }}';
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://paulmillr.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<script type="text/javascript">
var disqus_shortname = 'paulmillr';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://paulmillr.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<!-- End comments -->